.projects-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.heading {
  color: var(--font-high-emphasis, #25282b);
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.container {
  display: flex;
}
.product-info {
  display: flex;
  width: 496px;
  height: 524px;
  padding: 146.5px 38.881px 145.5px 50.441px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--bg-white, #fff);
  margin-top: 20px;
}
.para {
  color: var(--font-medium-emphasis, #828282);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.btn {
  color: var(--font-high-emphasis, #25282b);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.image {
  width: 496px;
  height: 526px;
  flex-shrink: 0;
}
