.nav-content {
  display: flex;
  width: 1200px;
  height: 56px;
  padding: 12px 120px;
  justify-content: center;
  align-items: center;
  gap: 778px;
  flex-shrink: 0;
}
.website-heading {
  color: var(--font-high-emphasis, #25282b);
  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

.nav-menu {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  list-style-type: none;
  background-color: #fdc435;
}
.nav-link {
  color: var(--font-high-emphasis, #25282b);
  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}
